/.env
/.idea/
/phpunit.xml
.phpunit.result.cache
/public/info.php
/public/node_modules/
/data/cbs/cbs.csv
/data/cbs/cbs.db
/data/database/buildingexaminator.sql

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###
/node_modules/
