{% extends "main.twig" %}

{% block content %}
    <div class="row">
        <div class="col s2">
            <div class="center-align app-logo"><i class="large material-icons">library_books</i></div>
            <h2 class="center-align">Menu</h2>
        </div>
        <div class="col s10">
            <h2 class="center-align">Building Address</h2>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Rental unit number" id="rental_unit_number" type="text" class="validate">
                            <label for="rental_unit_number">Rental unit number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Street name" id="street_name" type="text" class="validate">
                            <label for="street_name">Street name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="House number" id="house_number" type="number" class="validate">
                            <label for="house_number">House number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Addition" id="addition" type="text" class="validate">
                            <label for="addition">Addition</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Zipcode" id="zipcode" type="text" class="validate">
                            <label for="zipcode">Zipcode</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="City" id="city" type="text" class="validate">
                            <label for="city">City</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="" id="" type="text" class="validate">
                            <label for=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button class="btn" name="save">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}