/* Custom icon font based on https://fonts.google.com/icons */

@font-face {
    font-family: 'Material Icons Custom';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons Custom';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

/* Defaults */

html, body {
    color: #051a89;
}

div.container {
    padding-top: 64px;
}

.slide-out-nav-menu-button a.sidenav-trigger.top-nav {
    color: #ffffff;
}

/* Extra css for the select2 library */

#activeHousingstockSelector .select2-container {
    text-align: left;
}

#activeHousingstockSelector .select2-container .select2-selection {
    border: 0;
    background-color: #a0aae1;
}

#activeHousingstockSelector .select2-container .select2-selection .select2-selection__arrow {
    background-color: #5466c8;
    height: 28px;
    top: 0px;
    right: 0px;
    width: 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#activeHousingstockSelector .select2-container--open .select2-selection .select2-selection__arrow {
    border-bottom-right-radius: 0px;
}

#activeHousingstockSelector .select2-container .select2-selection .select2-selection__arrow b {
    border-color: #ffffff transparent transparent transparent;
}

#activeHousingstockSelector .select2-container--open .select2-selection .select2-selection__arrow b {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #ffffff transparent;
}

#activeHousingstockSelector .select2-container .select2-selection .select2-selection__clear {
    color: #ffffff;
    height: 24px;
    margin-top: 3px;
    margin-right: 32px;
}

#activeHousingstockSelector .select2-container .select2-selection__rendered {
    color: #ffffff;
}

.select2-container--default .select2-results__option--selected {
    background-color: #a0aae1;
}

#activeHousingstockSelector .select2-container .select2-selection__rendered .select2-selection__placeholder {
    color: #ffffff;
}

.select2-container .select2-dropdown {
    border: 0;
    color: #ffffff;
    background-color: #a0aae1;
}

.select2-container .select2-dropdown .select2-search {
    border: 0;
}

.select2-container .select2-dropdown .select2-search input {
    border: 0;
    color: #ffffff;
}

/* Dynamic logo CSS */

div#logo-letter {
    float: left;
    height: 64px;
    overflow: hidden;
    color: #ffffff;
    line-height: 82px;
    font-size: 32px;
    font-weight: bolder;
}

/* All round CSS for the Dobro based on https://materializecss.com */

nav,
.sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav {
    position: fixed;
    z-index: 998;
    background-color: #051a89;
}

.sidenav {
    z-index: 997;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav.sidenav-fixed {
    background-color: #a0aae1;
}

.sidenav .subheader {
    color: #ffffff;
}

ul.sidenav > li.active > a,
ul.sidenav > li.active > a > i.material-icons {
    color: #051a89;
    background-color: #ffffff;
}

ul.sidenav > li > a,
ul.sidenav > li > a > i.material-icons {
    color: #ffffff;
}

ul.sidenav > li > a:hover,
ul.sidenav > li > a:hover > i.material-icons {
    color: #5466c8;
    background-color: #ffffff;
}

ul.sidenav.sidenav-fixed {
    padding-top: 64px;
}

a.sidenav-trigger.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    top: 28px;
    float: none;
    margin-left: 0;
    color: #f3989b;
    font-size: 36px;
    z-index: 2;
}

div.card.error div.card-content i {
    margin-right: 20px;
}

div.sidenav-overlay {
    z-index: 996;
}

div.overlay {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    background-color: rgba(200, 200, 200, 0.5);
}

div.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

div.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-overlay {
    background-color: rgb(200, 200, 200);
}

i.material-icons.disabled {
    color: rgba(0, 0, 0, 0.42);
}

/* DDD logo */

i.material-icons.ddd {
    float: left;
    font-size: 48px;
    line-height: 64px;
}

/* Default extra css */

div#content > h3 {
    padding-bottom: 20px;
}

div#content table th:nth-child(1),
div#content table td:nth-child(1) {
    white-space: nowrap;
}

div#content table th:nth-child(2),
div#content table td:nth-child(2) {
}

div#content table th:nth-child(3),
div#content table td:nth-child(3) {
    width: 100%;
}

div#content table th:last-child,
div#content table td:last-child {
    white-space: nowrap !important;
}

.material-tooltip {
    text-align: left;
}

ul.pagination {
    margin-top: 40px;
}

div.possibleByLogos {
    margin-top: 50px;
    text-align: center;
}

a.possibleByLogo {
    margin: 10px;
    display: inline-block;
}

a.possibleByLogo object {
    pointer-events: none;
    height: 57px;
}

div.makers {
    height: 150px;
    width: 320px;
    margin: auto;
}

div.makers > img.profile-image {
    float: left;
    height: 150px;
    margin: 0px 20px;
    border-radius: 50%;
}

label.custom-file-upload input[type="file"] {
    display: none;
}

label.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn, .btn-large, .btn-small {
    white-space: nowrap;
}

span.button-content {
    margin-left: 10px;
    vertical-align: top;
}

.input-field input[type=search]:focus:not(.browser-default) {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

div.login-error-messages {
    margin-top: 40px;
    margin-bottom: 40px;
}

#active_housingstock_select {
    width: 250px;
}

div.fixed-action-btn.user-profile {
    right: 16px !important;
    bottom: auto !important;
}

div.fixed-action-btn.user-profile > a {
    background-color: #5466c8;
}

div.fixed-action-btn.user-profile > a > i {
    height: 41px;
    line-height: 41px;
}

div.fixed-action-btn.user-profile ul a.btn-floating {
    margin-left: 0px;
    background-color: #5466c8;
}

div.slide-out-nav-menu-button {
    position: fixed;
    left: 8px !important;
}

a.sidenav-trigger.top-nav {
    top: auto !important;
}

div.esri-attribution__sources {
    display: none;
}

div.esri-attribution__powered-by {
    display: none;
}

div#viewDiv {
    border: solid 1px black;
}
