/* Custom icon font based on https://fonts.google.com/icons */

@font-face {
    font-family: 'Material Icons Custom';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons Custom';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

/* Extra css for the select2 library */

.select2-dropdown {
    border-radius: 0 !important;
}

.select2-container--default .select2-selection--single,
.select2-container--focus .select2-selection--single {
    border-radius: 0 !important;
    border-top: 0;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.select2-search--dropdown {
    border: 0 !important;
    padding: 0 10px !important;
}

.select2-search--dropdown:after {
    font-family: 'Material Icons Custom';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    color: rgb(119, 119, 119);
    content: "search";
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: -1;
}

.select2-search__field,
.select2-search__field:focus {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.select2-selection__clear {
    color: rgba(0, 0, 0, 0.87);
}

.select2-results {
    border-top: 1px solid #aaa;
}

/* Dynamic logo CSS */

li#menu-logo {
    height: 120px;
    margin-bottom: 25px;
}

li#menu-logo > div#logo-dia {
    background-image: url('/images/logo_dia.png');
    margin: auto;
    width: 121px;
    height: 120px;
    overflow: hidden;
}

/* All round CSS for the Dobro based on https://materializecss.com */

.header, .footer {
    color: #ee6e73;
}

nav.top-nav {
    height: 110px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background-color: transparent;
}

nav.bottom-nav{
    margin-top: 100px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid rgba(0,0,0,0.14);
    background-color: transparent;
}

nav.top-nav div.header h1 {
    margin: 20px 0 0 0;
}

a.sidenav-trigger.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    top: 28px;
    float: none;
    margin-left: 0;
    color: #f3989b;
    font-size: 36px;
    z-index: 2;
}

div.card.error div.card-content i {
    margin-right: 20px;
}

div.overlay {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(200,200,200,0.5);
}

div.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

div.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-overlay {
    background-color: rgb(200, 200, 200);
}

/* Active stock OLD css */

li.active-stock {
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}

li.active-stock .active-stock-wrapper {
    color: #777;
    margin-top: -1px;
    border-top: 1px solid rgba(0,0,0,0.14);
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease;
}

li.active-stock .active-stock-wrapper input.active-stock-input {
    color: #777;
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 62px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 30px;
    border: 0;
}

li.active-stock .active-stock-wrapper i.material-icons {
    position: absolute;
    top: 21px;
    right: 10px;
    cursor: pointer;
}

li.active-stock .active-stock-results {
    margin: 0;
    border-top: 1px solid rgba(0,0,0,0.14);
    background-color: #fff;
}

i.material-icons.disabled {
    color: rgba(0, 0, 0, 0.42);
}

/* DDD logo */

i.material-icons.ddd {
    float: left;
    font-size: 65px;
    line-height: 65px;
    text-shadow: 1px 1px 2px #999999;
}

/* Default extra css */

div#content > h3 {
    padding-bottom: 20px;
}

div#content table th:nth-child(1),
div#content table td:nth-child(1) {
    white-space: nowrap;
}

div#content table th:nth-child(2),
div#content table td:nth-child(2) {
}

div#content table th:nth-child(3),
div#content table td:nth-child(3) {
    width: 100%;
}

div#content table th:last-child,
div#content table td:last-child {
    white-space: nowrap !important;
}

.material-tooltip {
    text-align: left;
}

ul.pagination {
    margin-top: 40px;
}

div.possibleByLogos {
    margin-top: 100px;
    text-align: center;
}

a.possibleByLogo {
    margin: 10px;
    display: inline-block;
}

a.possibleByLogo object {
    pointer-events: none;
    height: 57px;
}

label.custom-file-upload input[type="file"] {
    display: none;
}

label.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn, .btn-large, .btn-small {
    white-space: nowrap;
}

span.button-content {
    margin-left: 10px;
    vertical-align: top;
}

.input-field input[type=search]:focus:not(.browser-default) {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}