        <h3 class="header center-align">Credits</h3>
        <h4 class="header center-align">Makers</h4>
        <div class="makers center-align">
           <img alt="Profile picture David C. Higler" class="profile-image" src="/images/developers/david.higler.png">
           <img alt="Profile picture Reiny Griemink" class="profile-image" src="/images/developers/reiny.griemink.png">
        </div>
        <h4 class="header center-align">Used frameworks and libraries</h4>
        <div class="possibleByLogos">
            <a href="https://www.nginx.com" target="_blank" class="possibleByLogo">
                <img alt="NGinX" src="/images/logos/NGinX.png">
            </a>
            <a href="https://www.php.net" target="_blank" class="possibleByLogo">
                <img alt="MySql" src="/images/logos/PHP.png">
            </a>
            <a href="https://www.mysql.com" target="_blank" class="possibleByLogo">
                <img alt="MySql" src="/images/logos/MySql.png">
            </a>
            <a href="https://mariadb.org" target="_blank" class="possibleByLogo">
                <img alt="MySql" src="/images/logos/MariaDB.png">
            </a>
            <br/>
            <br/>
            <a href="https://symfony.com" target="_blank" class="possibleByLogo">
                <img alt="Composer" src="/images/logos/Symfony.png">
            </a>
            <a href="https://getcomposer.org" target="_blank" class="possibleByLogo">
                <img alt="Composer" src="/images/logos/Composer.png">
            </a>
            <a href="https://thephpleague.com" target="_blank" class="possibleByLogo">
                <img alt="ThePhpLeague" src="/images/logos/ThePhpLeague.png">
            </a>
            <br/>
            <br/>
            <a href="https://materializecss.com" target="_blank" class="possibleByLogo">
                <img alt="Composer" src="/images/logos/Materialize.png">
            </a>
            <a href="https://jquery.com" target="_blank" class="possibleByLogo">
                <img alt="jQuery" src="/images/logos/jQuery.png">
            </a>
            <a href="https://momentjs.com" target="_blank" class="possibleByLogo">
                <img alt="MomentJS" src="/images/logos/MomentJS.png">
            </a>
        </div>