        <div class="row">
            <h3 class="header">Building Examinator</h3>
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Housingstocks</span>
                        <p><span class="badge">{{ HousingStocks.Count }}</span>Count</p>
                        <p><span class="badge">{{ HousingStocks.LatestCreate  }}</span>Latest creation</p>
                        <p><span class="badge">{{ HousingStocks.LatestChange  }}</span>Latest change</p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Addresses</span>
                        <p><span class="badge">{{ Addresses.Count  }}</span>Count</p>
                    </div>
                </div>
            </div>
        </div>