    {% for Item in Items %}
    <tr>
        <td class="hide-on-small-only"><i class="material-icons prefix">home_filled</i></td>
        <td>{{ Item.identification }}</td>
        <td>{{ Item.constructionYear }}</td>
        <td>{{ Item.residenceCount }}</td>
        <td>{{ Item.surfaceArea }}</td>
    </tr>
    {% endfor %}