{% for Item in Items %}
    <tr>
        <td class="hide-on-small-only"><i class="material-icons prefix">city</i></td>
        <td>{{ Item.identification }}</td>
        <td>{{ Item.name }}</td>
    </tr>
{% endfor %}