{
    "openapi": "3.0.0",
    "info": {
        "title": "Building Examinator",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://www.buildingexaminator.nl/api/v1",
            "description": "Development"
        }
    ],
    "paths": {
        "/owners": {
            "get": {
                "summary": "Returns details about multiple owners",
                "operationId": "c89dabc81c665b1833037b53169b2f46",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple owners",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/owners"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new owner",
                "operationId": "b9225e63245758fedaf8e7a7f2ed35fd",
                "requestBody": {
                    "description": "Details about new owner",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "lnumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created owner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Owner"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/owners/{ownerId}": {
            "get": {
                "summary": "Returns details about an owner",
                "operationId": "0743627ed8bab3ded6b25d946dc8b308",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an owner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Owner"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change owner",
                "operationId": "d6675887109f75f69ed195e1d7c4bb16",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing owner",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "lnumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete owner",
                "operationId": "d7712f11fcdb22cce4efe5bce80cb6c8",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted an owner"
                    }
                }
            }
        },
        "/housingstocks": {
            "get": {
                "summary": "Returns details about multiple housing stocks",
                "operationId": "fcda73ac9da52b6b1fe4740b2b2e2640",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple housing stocks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/housingStocks"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new housing stock",
                "operationId": "db2444af62a5ec7c7fb3c3374ce95745",
                "requestBody": {
                    "description": "Details about new housing stock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "owner": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}": {
            "get": {
                "summary": "Returns details about a housing stock",
                "operationId": "cd876caceffccf4a9667f18d6997a658",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change housing stock",
                "operationId": "9e3cb2c669aee97864b2f556b34f7d64",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing housing stock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "owner": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete housing stock",
                "operationId": "d103759ec1d7cefada68491278714dd7",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a housing stock"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/residentialareas": {
            "get": {
                "summary": "Returns details about multiple residential areas",
                "operationId": "4076bac7bdb6dd5617c987a5cadad0ad",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple residential areas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/residentialAreas"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new residential area",
                "operationId": "c126f21c5926fdd6d1388294c737afd6",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new residential area",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created residential area",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResidentialArea"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/residentialareas/{residentialAreaId}": {
            "get": {
                "summary": "Returns details about a residential area",
                "operationId": "cb73d9093e1bb1b239d4a201b22031dd",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "residentialAreaId",
                        "in": "path",
                        "description": "The id of a residential area",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a residential area",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResidentialArea"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change residential area",
                "operationId": "9be20da582922423229099f804a8ee9e",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "residentialAreaId",
                        "in": "path",
                        "description": "The id of the residential area",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing residential area",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed residential area",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResidentialArea"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete residential area",
                "operationId": "7cd7bdf9120a90d0db1e014e24fb28f6",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "residentialAreaId",
                        "in": "path",
                        "description": "The id of the residential area",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a residential area"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/blocks": {
            "get": {
                "summary": "Returns details about multiple blocks",
                "operationId": "d9cfc5eae6bd3d2489e759a82748ae0b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple blocks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/blocks"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new block",
                "operationId": "0cfc6cf375dc59df07874904b0edb1fe",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new block",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "financialnumber": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/blocks/{blockId}": {
            "get": {
                "summary": "Returns details about a block",
                "operationId": "7bdbcfb807a07658822999667e6fe63f",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of a block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change block",
                "operationId": "6f7fde4a97d3c7d430625fca04d23075",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of a housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of a block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing block",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete block",
                "operationId": "0d44e14218a5c9e00c7abe9af3f16ef2",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of a block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a block"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes": {
            "get": {
                "summary": "Returns details about multiple building types",
                "operationId": "99e051f4d4b80e3834373dc81d912445",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple buildingtypes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/buildingTypes"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new building type",
                "operationId": "a885490366e297a782bd34c5428f3036",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new building type",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created building type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes/{buildingTypeId}": {
            "put": {
                "summary": "Change building type",
                "operationId": "f87f84db3b143b515a77d7fb5dc0b90b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of a housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingTypeId",
                        "in": "path",
                        "description": "The id of a building type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing building type",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed building type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete building type",
                "operationId": "6600416eb39764aad6488216d9b8dd79",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingTypeId",
                        "in": "path",
                        "description": "The id of a building type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a building type"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes/{buildingtypeId}": {
            "get": {
                "summary": "Returns details about an address",
                "operationId": "160c6851aadc8ddd206811edd6cdd27c",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingtypeId",
                        "in": "path",
                        "description": "The id of a building type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a building type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/livingtypes": {
            "get": {
                "summary": "Returns details about multiple living types",
                "operationId": "0e346296972605ac43a31539c363f8f4",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple living types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/livingTypes"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new living type",
                "operationId": "bd7aa0453d2c860b882d41dcd929fc3c",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new living type",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created living type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LivingType"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/livingtypes/{livingTypeId}": {
            "get": {
                "summary": "Returns details about a living type",
                "operationId": "409b182743a4df80a2de8734c84467b5",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "livingTypeId",
                        "in": "path",
                        "description": "The id of a living type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a living type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LivingType"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change living type",
                "operationId": "281835dc2d0fec9ff2ec92264f51f9be",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of a housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingTypeId",
                        "in": "path",
                        "description": "The id of a living type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing living type",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed living type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LivingType"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete living type",
                "operationId": "69389af487621c5f56f960adbc522303",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "livingTypeId",
                        "in": "path",
                        "description": "The id of a living type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a living type"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/addresses": {
            "get": {
                "summary": "Returns details about multiple addresses",
                "operationId": "2a7c0754855a36f4cfbad02ce35e0b8b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple addresses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/buildingAddresses"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new address",
                "operationId": "86bdb7104ac1e0a598188a0effefe686",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "residentialarea": {
                                        "type": "integer"
                                    },
                                    "block": {
                                        "type": "integer"
                                    },
                                    "buildingtype": {
                                        "type": "integer"
                                    },
                                    "livingtype": {
                                        "type": "integer"
                                    },
                                    "rentalunitnumber": {
                                        "type": "string"
                                    },
                                    "streetname": {
                                        "type": "string"
                                    },
                                    "housenumber": {
                                        "type": "integer"
                                    },
                                    "addition": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "bagid": {
                                        "type": "string"
                                    },
                                    "constructionyear": {
                                        "type": "integer"
                                    },
                                    "renovationyear": {
                                        "type": "integer"
                                    },
                                    "orientation": {
                                        "type": "string"
                                    },
                                    "deab": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingAddress"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/addresses/{addressId}": {
            "get": {
                "summary": "Returns details about an address",
                "operationId": "d57e864df334b277466f6b9ddb2e9267",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of an address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingAddress"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change address",
                "operationId": "dd0dda6622d9610ee3c33b15a44bfd69",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of a housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of an address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "streetName": {
                                        "type": "string"
                                    },
                                    "houseNumber": {
                                        "type": "integer"
                                    },
                                    "addition": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "daeb": {
                                        "type": "bool"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingAddress"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/blocks/{addressId}": {
            "delete": {
                "summary": "Delete address",
                "operationId": "49713dd70c1c6e4cb1ed9e950010efdd",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of an address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted an address"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ids": {
                "type": "array",
                "items": {
                    "properties": {
                        "id": {
                            "type": "integer"
                        }
                    },
                    "type": "object"
                }
            },
            "owners": {
                "title": "Owners",
                "description": "An array of owners",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Owner"
                        }
                    }
                },
                "type": "object"
            },
            "housingStocks": {
                "title": "Housing stocks",
                "description": "An array of housing stocks",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/HousingStock"
                        }
                    }
                },
                "type": "object"
            },
            "residentialAreas": {
                "title": "Residential areas",
                "description": "An array of residential areas",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ResidentialArea"
                        }
                    }
                },
                "type": "object"
            },
            "blocks": {
                "title": "Blocks",
                "description": "An array of blocks",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Block"
                        }
                    }
                },
                "type": "object"
            },
            "buildingTypes": {
                "title": "Building types",
                "description": "An array of building types",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BuildingType"
                        }
                    }
                },
                "type": "object"
            },
            "livingTypes": {
                "title": "Living types",
                "description": "An array of living types",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LivingType"
                        }
                    }
                },
                "type": "object"
            },
            "buildingAddresses": {
                "title": "Addresses",
                "description": "An array of addresses",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BuildingAddress"
                        }
                    }
                },
                "type": "object"
            },
            "Group": {
                "properties": {
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Owner": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "housingStocks": {
                        "$ref": "#/components/schemas/ids"
                    },
                    "name": {
                        "type": "string"
                    },
                    "kvk": {
                        "type": "integer"
                    },
                    "btw": {
                        "type": "string"
                    },
                    "lnumber": {
                        "type": "string"
                    },
                    "website": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Right": {
                "properties": {
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Block": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "buildingAddresses": {
                        "$ref": "#/components/schemas/buildingAddresses"
                    },
                    "buildingTypeSelection": {},
                    "financialNumber": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BuildingAddress": {
                "properties": {
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "residentialArea": {
                        "$ref": "#/components/schemas/ResidentialArea"
                    },
                    "block": {
                        "$ref": "#/components/schemas/Block"
                    },
                    "buildingType": {
                        "$ref": "#/components/schemas/BuildingType"
                    },
                    "livingType": {
                        "$ref": "#/components/schemas/LivingType"
                    },
                    "rentalUnitNumber": {
                        "type": "string"
                    },
                    "streetName": {
                        "type": "string"
                    },
                    "houseNumber": {
                        "type": "integer"
                    },
                    "addition": {
                        "type": "string"
                    },
                    "zipcode": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "bagId": {
                        "type": "integer"
                    },
                    "constructionYear": {
                        "type": "integer"
                    },
                    "renovationYear": {
                        "type": "integer"
                    },
                    "orientation": {
                        "type": "string"
                    },
                    "daeb": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "BuildingType": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "buildingAddresses": {
                        "$ref": "#/components/schemas/buildingAddresses"
                    },
                    "buildingTypeSelections": {}
                },
                "type": "object"
            },
            "HousingStock": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "owner": {
                        "$ref": "#/components/schemas/owners"
                    },
                    "blocks": {
                        "$ref": "#/components/schemas/blocks"
                    },
                    "buildingTypes": {
                        "$ref": "#/components/schemas/buildingTypes"
                    },
                    "livingTypes": {
                        "$ref": "#/components/schemas/livingTypes"
                    },
                    "buildingAddresses": {
                        "$ref": "#/components/schemas/buildingAddresses"
                    }
                },
                "type": "object"
            },
            "LivingType": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "buildingAddresses": {
                        "$ref": "#/components/schemas/buildingAddresses"
                    }
                },
                "type": "object"
            },
            "ResidentialArea": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "buildingAddresses": {
                        "$ref": "#/components/schemas/buildingAddresses"
                    }
                },
                "type": "object"
            }
        }
    },
    "externalDocs": {
        "url": "/api/v1/documentation"
    }
}