{
    "openapi": "3.0.0",
    "info": {
        "title": "Building Examinator",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://www.buildingexaminator.nl/api/v1",
            "description": "Development"
        }
    ],
    "paths": {
        "/owners": {
            "get": {
                "summary": "Returns details about multiple owners",
                "operationId": "c89dabc81c665b1833037b53169b2f46",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple owners",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/owners"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new owner",
                "operationId": "b9225e63245758fedaf8e7a7f2ed35fd",
                "requestBody": {
                    "description": "Details about new owner",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "lnumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created owner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Owner"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/owners/{ownerId}": {
            "get": {
                "summary": "Returns details about an owner",
                "operationId": "0743627ed8bab3ded6b25d946dc8b308",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an owner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Owner"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change owner",
                "operationId": "d6675887109f75f69ed195e1d7c4bb16",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing owner",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "lnumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete owner",
                "operationId": "d7712f11fcdb22cce4efe5bce80cb6c8",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted an owner"
                    }
                }
            }
        },
        "/housingstocks": {
            "get": {
                "summary": "Returns details about multiple housing stocks",
                "operationId": "fcda73ac9da52b6b1fe4740b2b2e2640",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple housing stocks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/housingStocks"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new housing stock",
                "operationId": "db2444af62a5ec7c7fb3c3374ce95745",
                "requestBody": {
                    "description": "Details about new housing stock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "owner": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}": {
            "get": {
                "summary": "Returns details about a housing stock",
                "operationId": "cd876caceffccf4a9667f18d6997a658",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change housing stock",
                "operationId": "9e3cb2c669aee97864b2f556b34f7d64",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "description": "Details for changing housing stock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "owner": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete housing stock",
                "operationId": "d103759ec1d7cefada68491278714dd7",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a housing stock"
                    }
                }
            }
        },
        "/municipalities": {
            "get": {
                "summary": "Returns details about multiple municipalities",
                "operationId": "e7baa2635861e05fa3edab82b631aca5",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple municipalities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/municipalities"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/municipalities/{municipalityId}": {
            "get": {
                "summary": "Returns details about a municipality",
                "operationId": "c2cc9366a977dedd34ed1f17a6b8a75b",
                "parameters": [
                    {
                        "name": "municipalityId",
                        "in": "path",
                        "description": "The id of a municipality",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a municipality",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Municipality"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/residentialareas": {
            "get": {
                "summary": "Returns details about multiple residential areas",
                "operationId": "edcaad60e6de6eb3d5b14c527c70602f",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple residential areas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/residentialAreas"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/residentialareas/{residentialAreaId}": {
            "get": {
                "summary": "Returns details about a residential area",
                "operationId": "393b3246b092cccead8491eee0d4032a",
                "parameters": [
                    {
                        "name": "residentialAreaId",
                        "in": "path",
                        "description": "The id of a residential area",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a residential area",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResidentialArea"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/neighbourhoods": {
            "get": {
                "summary": "Returns details about multiple neighbourhoods",
                "operationId": "ff7b101bf699c35347adcdf7e1b38d50",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple neighbourhoods",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/neighbourhoods"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/neighbourhoods/{neighbourhoodId}": {
            "get": {
                "summary": "Returns details about a neighbourhood",
                "operationId": "fdbf42d5d3366a80a75aae76a31b8e7f",
                "parameters": [
                    {
                        "name": "neighbourhoodId",
                        "in": "path",
                        "description": "The id of a neighbourhood",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a neighbourhood",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Neighbourhood"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/publicspaces": {
            "get": {
                "summary": "Returns details about multiple publicspaces",
                "operationId": "ba354b3ff667ef1692a0581793badf9a",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple publicspaces",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/publicspaces"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/publicspaces/{publicSpaceId}": {
            "get": {
                "summary": "Returns details about a public space",
                "operationId": "cf9c46f7c4a575b2451c7ec449b60280",
                "parameters": [
                    {
                        "name": "neighbourhoodId",
                        "in": "path",
                        "description": "The id of a public space",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a public space",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicSpace"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/blocks": {
            "get": {
                "summary": "Returns details about multiple blocks",
                "operationId": "d9cfc5eae6bd3d2489e759a82748ae0b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple blocks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/blocks"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new block",
                "operationId": "0cfc6cf375dc59df07874904b0edb1fe",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "description": "Details about new block",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "financialnumber": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/blocks/{blockId}": {
            "get": {
                "summary": "Returns details about a block",
                "operationId": "7bdbcfb807a07658822999667e6fe63f",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of a block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change block",
                "operationId": "6f7fde4a97d3c7d430625fca04d23075",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of a housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of a block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "description": "Details for changing block",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete block",
                "operationId": "0d44e14218a5c9e00c7abe9af3f16ef2",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of a block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a block"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes": {
            "get": {
                "summary": "Returns details about multiple building types",
                "operationId": "99e051f4d4b80e3834373dc81d912445",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple buildingtypes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/buildingTypes"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new building type",
                "operationId": "a885490366e297a782bd34c5428f3036",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "description": "Details about new building type",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created building type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes/{buildingTypeId}": {
            "put": {
                "summary": "Change building type",
                "operationId": "f87f84db3b143b515a77d7fb5dc0b90b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of a housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "buildingTypeId",
                        "in": "path",
                        "description": "The id of a building type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "description": "Details for changing building type",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed building type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete building type",
                "operationId": "6600416eb39764aad6488216d9b8dd79",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "buildingTypeId",
                        "in": "path",
                        "description": "The id of a building type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a building type"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes/{buildingtypeId}": {
            "get": {
                "summary": "Returns details about an address",
                "operationId": "160c6851aadc8ddd206811edd6cdd27c",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "buildingtypeId",
                        "in": "path",
                        "description": "The id of a building type",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a building type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/addresses": {
            "get": {
                "summary": "Returns details about multiple addresses",
                "operationId": "de341e3a585fe57715df7c1ed9c8b8b7",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple addresses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/addresses"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new address",
                "operationId": "7842fe632fc12045797d62196572f036",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "description": "Details about new address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "residentialarea": {
                                        "type": "integer"
                                    },
                                    "block": {
                                        "type": "integer"
                                    },
                                    "buildingtype": {
                                        "type": "integer"
                                    },
                                    "livingtype": {
                                        "type": "integer"
                                    },
                                    "rentalunitnumber": {
                                        "type": "string"
                                    },
                                    "streetname": {
                                        "type": "string"
                                    },
                                    "housenumber": {
                                        "type": "integer"
                                    },
                                    "addition": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "bagid": {
                                        "type": "string"
                                    },
                                    "constructionyear": {
                                        "type": "integer"
                                    },
                                    "renovationyear": {
                                        "type": "integer"
                                    },
                                    "orientation": {
                                        "type": "string"
                                    },
                                    "deab": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/addresses/{addressId}": {
            "get": {
                "summary": "Returns details about an address",
                "operationId": "a269197cad59bf86febf37e90eab840a",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of an address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Change address",
                "operationId": "c961965929bf04a1a66b026bbd849714",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of a housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of an address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "description": "Details for changing address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "streetName": {
                                        "type": "string"
                                    },
                                    "houseNumber": {
                                        "type": "integer"
                                    },
                                    "addition": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "daeb": {
                                        "type": "bool"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete address",
                "operationId": "67360e2ce9712eb957853339903bed5a",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of an address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted an address"
                    }
                }
            }
        },
        "/vtws": {
            "get": {
                "summary": "Returns details about multiple vtws",
                "operationId": "41d311d7c4b03c08c84e7959c06e08e4",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple vtws",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/vtws"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ids": {
                "type": "array",
                "items": {
                    "properties": {
                        "id": {
                            "type": "integer"
                        }
                    },
                    "type": "object"
                }
            },
            "owners": {
                "title": "Owners",
                "description": "An array of owners",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Owner"
                        }
                    }
                },
                "type": "object"
            },
            "housingStocks": {
                "title": "Housing stocks",
                "description": "An array of housing stocks",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/HousingStock"
                        }
                    }
                },
                "type": "object"
            },
            "municipalities": {
                "title": "Municipalities",
                "description": "An array of municipalities",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Municipality"
                        }
                    }
                },
                "type": "object"
            },
            "residentialAreas": {
                "title": "Residential areas",
                "description": "An array of residential areas",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ResidentialArea"
                        }
                    }
                },
                "type": "object"
            },
            "neighbourhoods": {
                "title": "Neighbourhoods",
                "description": "An array of neighbourhoods",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Neighbourhood"
                        }
                    }
                },
                "type": "object"
            },
            "blocks": {
                "title": "Blocks",
                "description": "An array of blocks",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Block"
                        }
                    }
                },
                "type": "object"
            },
            "publicspaces": {
                "title": "Publicspaces",
                "description": "An array of public spaces",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicSpace"
                        }
                    }
                },
                "type": "object"
            },
            "buildingTypes": {
                "title": "Building types",
                "description": "An array of building types",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BuildingType"
                        }
                    }
                },
                "type": "object"
            },
            "addresses": {
                "title": "Addresses",
                "description": "An array of addresses",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Address"
                        }
                    }
                },
                "type": "object"
            },
            "vtws": {
                "title": "Vtws",
                "description": "An array of vtws",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Vtw"
                        }
                    }
                },
                "type": "object"
            },
            "User": {},
            "Contractor": {
                "properties": {
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Group": {
                "properties": {
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Owner": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "housingStocks": {
                        "$ref": "#/components/schemas/ids"
                    },
                    "name": {
                        "type": "string"
                    },
                    "kvk": {
                        "type": "integer"
                    },
                    "btw": {
                        "type": "string"
                    },
                    "lnumber": {
                        "type": "string"
                    },
                    "website": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Right": {
                "properties": {
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Subcontractor": {
                "properties": {
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Detail": {
                "properties": {
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Facade": {
                "properties": {
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "FloorPlan": {
                "properties": {
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "AdhesionIso2409": {
                "properties": {
                    "conditionScore": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "procentDetachment": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "AdhesionSkh0501": {
                "properties": {
                    "conditionScore": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "procentDetachment": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "GlossIso2813": {
                "properties": {
                    "conditionScore": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "glossUnits": {
                        "type": "integer"
                    },
                    "glossAngle": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Address": {
                "properties": {
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "objectId": {
                        "type": "string"
                    },
                    "identification": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "municipality": {
                        "$ref": "#/components/schemas/Municipality"
                    },
                    "residentialArea": {
                        "$ref": "#/components/schemas/ResidentialArea"
                    },
                    "neighbourhood": {
                        "$ref": "#/components/schemas/Neighbourhood"
                    },
                    "block": {
                        "$ref": "#/components/schemas/Block"
                    },
                    "buildingType": {
                        "$ref": "#/components/schemas/BuildingType"
                    },
                    "rentalUnitNumber": {
                        "type": "string"
                    },
                    "residence": {
                        "$ref": "#/components/schemas/Residence"
                    },
                    "building": {
                        "$ref": "#/components/schemas/Building"
                    },
                    "publicSpace": {
                        "$ref": "#/components/schemas/PublicSpace"
                    },
                    "houseNumber": {
                        "type": "integer"
                    },
                    "addition": {
                        "type": "string"
                    },
                    "zipcode": {
                        "type": "string"
                    },
                    "city": {
                        "$ref": "#/components/schemas/City"
                    },
                    "orientation": {
                        "type": "string"
                    },
                    "daeb": {
                        "type": "boolean"
                    },
                    "vtw": {
                        "$ref": "#/components/schemas/Vtw"
                    }
                },
                "type": "object"
            },
            "Block": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/addresses"
                    },
                    "financialNumber": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Building": {
                "properties": {
                    "objectId": {
                        "type": "string"
                    },
                    "identification": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "constructionYear": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string"
                    },
                    "residenceCount": {
                        "type": "integer"
                    },
                    "surfaceArea": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "BuildingType": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "housingStock": {
                        "$ref": "#/components/schemas/HousingStock"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/addresses"
                    }
                },
                "type": "object"
            },
            "City": {
                "properties": {
                    "objectId": {
                        "type": "string"
                    },
                    "identification": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "HousingStock": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "creationTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastChangeTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "owner": {
                        "$ref": "#/components/schemas/owners"
                    },
                    "blocks": {
                        "$ref": "#/components/schemas/blocks"
                    },
                    "buildingTypes": {
                        "$ref": "#/components/schemas/buildingTypes"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/addresses"
                    }
                },
                "type": "object"
            },
            "Municipality": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/addresses"
                    }
                },
                "type": "object"
            },
            "Neighbourhood": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/addresses"
                    }
                },
                "type": "object"
            },
            "PublicSpace": {
                "properties": {
                    "objectId": {
                        "type": "string"
                    },
                    "identification": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/addresses"
                    }
                },
                "type": "object"
            },
            "Residence": {
                "properties": {
                    "objectId": {
                        "type": "string"
                    },
                    "identification": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "surfaceArea": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string"
                    },
                    "intendedUse": {
                        "type": "string"
                    },
                    "intendedUseBasic": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ResidentialArea": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/addresses"
                    }
                },
                "type": "object"
            },
            "Vtw": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "typeDescription": {
                        "type": "string"
                    },
                    "buildingTypeDescription": {
                        "type": "string"
                    },
                    "constructionYearDescription": {
                        "type": "string"
                    },
                    "roofTypeDescription": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        }
    },
    "externalDocs": {
        "url": "/api/v1/documentation"
    }
}