{
    "openapi": "3.0.0",
    "info": {
        "title": "Building Examinator",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://www.buildingexaminator.nl/api/v1",
            "description": "Development"
        }
    ],
    "paths": {
        "/owners": {
            "get": {
                "summary": "Returns details about multiple owners",
                "description": "OWNERS",
                "operationId": "c89dabc81c665b1833037b53169b2f46",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple owners",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/owners"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new owner",
                "operationId": "b9225e63245758fedaf8e7a7f2ed35fd",
                "requestBody": {
                    "description": "Details about new owner",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "lnumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created owner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Owner"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/owners/{ownerId}": {
            "get": {
                "description": "Returns details about an owner",
                "operationId": "0743627ed8bab3ded6b25d946dc8b308",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an owner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Owner"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Change owner",
                "operationId": "d6675887109f75f69ed195e1d7c4bb16",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing owner",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "lnumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed owner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Owner"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete owner",
                "operationId": "d7712f11fcdb22cce4efe5bce80cb6c8",
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "path",
                        "description": "The id of the owner",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted an owner"
                    }
                }
            }
        },
        "/contractors": {
            "get": {
                "summary": "Returns details about multiple contractors",
                "description": "CONTRACTORS",
                "operationId": "a4ab8e7b34b854296fa56a11418ab4a3",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple contractors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/contractors"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new contractor",
                "operationId": "dff3e750bd5104de077fef0c8c51a47d",
                "requestBody": {
                    "description": "Details about new contractor",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created contractor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contractor"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contractors/{contractorId}": {
            "put": {
                "description": "Change contractor",
                "operationId": "fe0322267f63928ca36309e8ba3660d3",
                "parameters": [
                    {
                        "name": "contractorId",
                        "in": "path",
                        "description": "The id of the contractor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing contractor",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed contractor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contractor"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete contractor",
                "operationId": "94788d622a58a27c2e55db603b2f8e50",
                "parameters": [
                    {
                        "name": "contractorId",
                        "in": "path",
                        "description": "The id of the contractor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a contractor"
                    }
                }
            }
        },
        "/contractors/{contractorId}/contractors/{contractorId}": {
            "get": {
                "description": "Returns details about an contractor",
                "operationId": "55123ee583ee69b8c0f088fe0dbaf015",
                "parameters": [
                    {
                        "name": "contractorId",
                        "in": "path",
                        "description": "The id of the contractor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about changed contractor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contractor"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subcontractors": {
            "get": {
                "summary": "Returns details about multiple subcontractors",
                "description": "SUBCONTRACTORS",
                "operationId": "f8cfdaf32e8cc3e5f1bc957de9ce7aaf",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple subcontractors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/subcontractors"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new subcontractor",
                "operationId": "7cf7b55797273c72b4b6e23bd567a424",
                "requestBody": {
                    "description": "Details about new subcontractor",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created subcontractor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subcontractor"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subcontractors/{subcontractorId}": {
            "get": {
                "description": "Returns details about a subcontractor",
                "operationId": "fbc603f623f96985e3f04b83a3f2116f",
                "parameters": [
                    {
                        "name": "subcontractorId",
                        "in": "path",
                        "description": "The id of the subcontractor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a subcontractor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subcontractor"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Change subcontractor",
                "operationId": "624ced2848e29bbfe765dca01126edda",
                "parameters": [
                    {
                        "name": "subcontractorId",
                        "in": "path",
                        "description": "The id of the subcontractor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing subcontractor",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "kvk": {
                                        "type": "string"
                                    },
                                    "btw": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created subcontractor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subcontractor"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete subcontractor",
                "operationId": "cf3be70a5d46092a121f0a25799a1ea0",
                "parameters": [
                    {
                        "name": "subcontractorId",
                        "in": "path",
                        "description": "The id of the subcontractor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a subcontractor"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "summary": "Returns details about multiple users",
                "description": "USERS",
                "operationId": "df9f5a328d81727e3ccc340d756837b0",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/users"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new user",
                "operationId": "a8e89ffa6a51aa952c4ded8de145b515",
                "requestBody": {
                    "description": "Details about new user",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "confirmpassword": {
                                        "type": "string"
                                    },
                                    "adminrole": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{userId}": {
            "get": {
                "description": "Returns details about an user",
                "operationId": "4d924b1808722d429dcc4471ff11a299",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The id of the user",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Change user",
                "operationId": "644b28a34633803d6622c25664295b86",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The id of the user",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing user",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "confirmpassword": {
                                        "type": "string"
                                    },
                                    "adminrole": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete user",
                "operationId": "a16d65f6a82350ae5df3d109a685785f",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The id of the user",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted an user"
                    }
                }
            }
        },
        "/housingstocks": {
            "get": {
                "summary": "HOUSINGSTOCKS",
                "description": "Returns details about multiple housing stocks",
                "operationId": "fcda73ac9da52b6b1fe4740b2b2e2640",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple housing stocks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/housingStocks"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new housing stock",
                "operationId": "db2444af62a5ec7c7fb3c3374ce95745",
                "requestBody": {
                    "description": "Details about new housing stock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "owner": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}": {
            "get": {
                "description": "Returns details about a housing stock",
                "operationId": "cd876caceffccf4a9667f18d6997a658",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Change housing stock",
                "operationId": "9e3cb2c669aee97864b2f556b34f7d64",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing housing stock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "owner": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed housing stock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HousingStock"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete housing stock",
                "operationId": "d103759ec1d7cefada68491278714dd7",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a housing stock"
                    }
                }
            }
        },
        "/municipalities": {
            "get": {
                "summary": "MUNICIPALITIES",
                "description": "Returns details about multiple municipalities",
                "operationId": "e7baa2635861e05fa3edab82b631aca5",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple municipalities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/municipalities"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/municipalities/{municipalityId}": {
            "get": {
                "description": "Returns details about a municipality",
                "operationId": "c2cc9366a977dedd34ed1f17a6b8a75b",
                "parameters": [
                    {
                        "name": "municipalityId",
                        "in": "path",
                        "description": "The id of the municipality",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a municipality",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Municipality"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/residentialareas": {
            "get": {
                "summary": "RESIDENTIALAREAS",
                "description": "Returns details about multiple residential areas",
                "operationId": "edcaad60e6de6eb3d5b14c527c70602f",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about residential areas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/residentialAreas"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/residentialareas/{residentialAreaId}": {
            "get": {
                "description": "Returns details about a residential area",
                "operationId": "393b3246b092cccead8491eee0d4032a",
                "parameters": [
                    {
                        "name": "residentialAreaId",
                        "in": "path",
                        "description": "The id of the residential area",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a residential area",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResidentialArea"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/neighbourhoods": {
            "get": {
                "summary": "NEIGHBOURHOODS",
                "description": "Returns details about multiple neighbourhoods",
                "operationId": "ff7b101bf699c35347adcdf7e1b38d50",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple neighbourhoods",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/neighbourhoods"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/neighbourhoods/{neighbourhoodId}": {
            "get": {
                "description": "Returns details about a neighbourhood",
                "operationId": "fdbf42d5d3366a80a75aae76a31b8e7f",
                "parameters": [
                    {
                        "name": "neighbourhoodId",
                        "in": "path",
                        "description": "The id of the neighbourhood",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a neighbourhood",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Neighbourhood"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/vtws": {
            "get": {
                "summary": "VTWS",
                "description": "Returns details about multiple vtws",
                "operationId": "41d311d7c4b03c08c84e7959c06e08e4",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple vtws",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/vtws"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/vtws/{vtwId}": {
            "get": {
                "description": "Returns details about a vtw",
                "operationId": "d8b4280d6e2eeddedcb4af55344ef37c",
                "parameters": [
                    {
                        "name": "vtwId",
                        "in": "path",
                        "description": "The id of the vtw",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a vtw",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Vtw"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/cities": {
            "get": {
                "summary": "CITIES",
                "description": "Returns details about multiple cities",
                "operationId": "e0fbc1fd71e9d69d6a3fc5fa57a7b059",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple cities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cities"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/cities/{cityId}": {
            "get": {
                "description": "Returns details about a city",
                "operationId": "19da95b2cafdeb628393b4283fd07a65",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "cityId",
                        "in": "path",
                        "description": "The id of the city",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a city",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/City"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/publicspaces": {
            "get": {
                "summary": "PUBLICSPACES",
                "description": "Returns details about multiple publicspaces",
                "operationId": "ba354b3ff667ef1692a0581793badf9a",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple publicspaces",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/publicspaces"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/publicspaces/{publicSpaceId}": {
            "get": {
                "description": "Returns details about a publicspace",
                "operationId": "cf9c46f7c4a575b2451c7ec449b60280",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "publicSpaceId",
                        "in": "path",
                        "description": "The id of the publicspace",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a publicspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicSpace"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildings": {
            "get": {
                "summary": "BUILDINGS",
                "description": "Returns details about multiple buildings",
                "operationId": "1ce207135e00c824fad7ddde36cb5077",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple buildings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/buildings"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildings/{buildingId}": {
            "get": {
                "description": "Returns details about a building",
                "operationId": "433f02cb1e17aad4cb88e71bfdba326c",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingId",
                        "in": "path",
                        "description": "The id of the building",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a building",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Building"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/residences": {
            "get": {
                "summary": "RESIDENCES",
                "description": "Returns details about multiple residences",
                "operationId": "018e331070aef74f562bb535f8b3d063",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple residences",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/residences"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/residences/{residenceId}": {
            "get": {
                "description": "Returns details about a residence",
                "operationId": "cef46c61df3cee1b0f487094e720c04b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "residenceId",
                        "in": "path",
                        "description": "The id of the residence",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a residence",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Residence"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/blocks": {
            "get": {
                "summary": "BLOCKS",
                "description": "Returns details about multiple blocks",
                "operationId": "d9cfc5eae6bd3d2489e759a82748ae0b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple blocks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/blocks"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new block",
                "operationId": "0cfc6cf375dc59df07874904b0edb1fe",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new block",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "financialnumber": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/blocks/{blockId}": {
            "get": {
                "description": "Returns details about a block",
                "operationId": "7bdbcfb807a07658822999667e6fe63f",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of the block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Change block",
                "operationId": "6f7fde4a97d3c7d430625fca04d23075",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of the block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing block",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "financialnumber": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed block",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Block"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete block",
                "operationId": "0d44e14218a5c9e00c7abe9af3f16ef2",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "blockId",
                        "in": "path",
                        "description": "The id of the block",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a block"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes": {
            "get": {
                "summary": "BUILDINGTYPES",
                "description": "Returns details about multiple buildingtypes",
                "operationId": "99e051f4d4b80e3834373dc81d912445",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple buildingtypes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/buildingTypes"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new buildingtype",
                "operationId": "a885490366e297a782bd34c5428f3036",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new buildingtype",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created buildingtype",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes/{buildingTypeId}": {
            "put": {
                "description": "Change buildingtype",
                "operationId": "f87f84db3b143b515a77d7fb5dc0b90b",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingTypeId",
                        "in": "path",
                        "description": "The id of the buildingtype",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing buildingtype",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed buildingtype",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete buildingtype",
                "operationId": "6600416eb39764aad6488216d9b8dd79",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingTypeId",
                        "in": "path",
                        "description": "The id of the buildingtype",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted a buildingtype"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/buildingtypes/{buildingtypeId}": {
            "get": {
                "description": "Returns details about a buildingtype",
                "operationId": "160c6851aadc8ddd206811edd6cdd27c",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "buildingtypeId",
                        "in": "path",
                        "description": "The id of the buildingtype",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a buildingtype",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingType"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/addresses": {
            "get": {
                "summary": "ADDRESSES",
                "description": "Returns details about multiple addresses",
                "operationId": "de341e3a585fe57715df7c1ed9c8b8b7",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple addresses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/addresses"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new address",
                "operationId": "7842fe632fc12045797d62196572f036",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "residentialarea": {
                                        "type": "integer"
                                    },
                                    "block": {
                                        "type": "integer"
                                    },
                                    "buildingtype": {
                                        "type": "integer"
                                    },
                                    "livingtype": {
                                        "type": "integer"
                                    },
                                    "rentalunitnumber": {
                                        "type": "string"
                                    },
                                    "streetname": {
                                        "type": "string"
                                    },
                                    "housenumber": {
                                        "type": "integer"
                                    },
                                    "addition": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "bagid": {
                                        "type": "string"
                                    },
                                    "constructionyear": {
                                        "type": "integer"
                                    },
                                    "renovationyear": {
                                        "type": "integer"
                                    },
                                    "orientation": {
                                        "type": "string"
                                    },
                                    "deab": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/addresses/{addressId}": {
            "get": {
                "description": "Returns details about an address",
                "operationId": "a269197cad59bf86febf37e90eab840a",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of the address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Change address",
                "operationId": "c961965929bf04a1a66b026bbd849714",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of the address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details for changing address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "residentialarea": {
                                        "type": "integer"
                                    },
                                    "block": {
                                        "type": "integer"
                                    },
                                    "buildingtype": {
                                        "type": "integer"
                                    },
                                    "livingtype": {
                                        "type": "integer"
                                    },
                                    "rentalunitnumber": {
                                        "type": "string"
                                    },
                                    "streetname": {
                                        "type": "string"
                                    },
                                    "housenumber": {
                                        "type": "integer"
                                    },
                                    "addition": {
                                        "type": "string"
                                    },
                                    "zipcode": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "bagid": {
                                        "type": "string"
                                    },
                                    "constructionyear": {
                                        "type": "integer"
                                    },
                                    "renovationyear": {
                                        "type": "integer"
                                    },
                                    "orientation": {
                                        "type": "string"
                                    },
                                    "deab": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about changed address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete address",
                "operationId": "67360e2ce9712eb957853339903bed5a",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "addressId",
                        "in": "path",
                        "description": "The id of the address",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted an address"
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/projects": {
            "get": {
                "description": "Returns details about multiple projects",
                "operationId": "124ad955b8e83876878b70580ec2e000",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to get",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "searchterm",
                        "in": "query",
                        "description": "The searchterm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "test"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about multiple projects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/projects"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add new project",
                "operationId": "ac2205204752d7efa8a87e081a6431b3",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housingstock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Details about new project",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details about created project",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/housingstocks/{housingStockId}/projects/{projectId}": {
            "get": {
                "description": "Returns details about a project",
                "operationId": "44e615d96e504c0e68f610c5be22b57f",
                "parameters": [
                    {
                        "name": "housingStockId",
                        "in": "path",
                        "description": "The id of the housing stock",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The id of the project",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about an project",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "owners": {
                "title": "Owners",
                "description": "An array of owners",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Owner"
                        }
                    }
                },
                "type": "object"
            },
            "users": {
                "title": "Users",
                "description": "An array of users",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                },
                "type": "object"
            },
            "contractors": {
                "title": "Contractors",
                "description": "An array of contractors",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Contractor"
                        }
                    }
                },
                "type": "object"
            },
            "subcontractors": {
                "title": "Subcontractors",
                "description": "An array of subcontractors",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Subcontractor"
                        }
[...]
