{% extends "main.twig" %}

{% block content %}
    <h3 class="header">Available housingstocks</h3>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
{% for housingstock in housingstocks %}
            <tr>
                <td>{{ housingstock.code }}</td>
                <td>{{ housingstock.name }}</td>
                <td>
                    <button class="btn" name="edit">Edit</button>
                    <button data-target="modal_delete" class="btn modal-trigger" name="delete">Delete</button>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <div id="modal_delete" class="modal">
        <div class="modal-content">
            <h4>Delete</h4>
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="btn-flat modal-close">No</a>
            <a href="#!" class="btn-flat modal-close">Yes</a>
        </div>
    </div>
{% endblock %}