{% extends "main.twig" %}

{% block content %}
    <h3 class="header">Available routes</h3>
    <table>
        <thead>
            <tr>
                <th>Methods</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
{% for route in routes %}
            <tr>
                <td>{{ route.methods }}</td>
                <td><a href="{{ route.path }}">{{ route.title }}</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}