{% extends "main.twig" %}

{% block body %}
        <ul class="sidenav sidenav-fixed">
            <li id="menu-logo">
                <div id="logo">
                    <div id="logo-dia"></div>
                    <div id="logo-letter" class="valign-wrapper center-align"><h1><i class="material-icons ddd">d_d_d</i></h1></div>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadHomePage();">
                    <i class="material-icons">start</i>{% trans %}home{% endtrans %}
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadTestPage();">
                    <i class="material-icons">contact_support</i>TEST
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadMunicipalitiesPage();">
                    <i class="material-icons">municipality</i>Municipalities
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadCitiesPage();">
                    <i class="material-icons">city</i>Cities
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadResidentialAreasPage();">
                    <i class="material-icons">residentialarea</i>Residential areas
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadNeighbourhoodsPage();">
                    <i class="material-icons">neighbourhood</i>Neighbourhoods
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadVtws();">
                    <i class="material-icons">villa</i>VTW's
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadPublicSpacesPage();">
                    <i class="material-icons">road</i>Public spaces
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadBuildingsPage();">
                    <i class="material-icons">home_filled</i>Buildings
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadResidencesPage();">
                    <i class="material-icons">cottage</i>Residences
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadBlocksPage();">
                    <i class="material-icons">view_comfortable</i>Blocks
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadBuildingtypesPage();">
                    <i class="material-icons">home_work</i>Building types
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadAddressesPage();">
                    <i class="material-icons">home</i>Addresses
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadOwnersPage();">
                    <i class="material-icons">owner</i>Owners
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadHousingstocksPage();">
                    <i class="material-icons">domain</i>Housingstocks
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadContractorsPage();">
                    <i class="material-icons">contractor</i>Contractors
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadSubcontractorsPage();">
                    <i class="material-icons">subcontractor</i>Subcontractors
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="void(0);" class="subheader">
                    <i class="material-icons">group</i>Groups
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadUsersPage();">
                    <i class="material-icons">person</i>Users
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadCreditsPage();">
                    <i class="material-icons">workspace_premium</i>Credits
                </a>
            </li>
        </ul>
        <ul id="slide-out" class="sidenav">
            <li>
                <a href="javascript:void(0);" onclick="loadHomePage();">
                    <i class="material-icons">start</i>Home
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadTestPage();">
                    <i class="material-icons">contact_support</i>TEST
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadMunicipalitiesPage();">
                    <i class="material-icons">municipality</i>Municipalities
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadCitiesPage();">
                    <i class="material-icons">city</i>Cities
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadResidentialAreasPage();">
                    <i class="material-icons">residentialarea</i>Residential areas
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadNeighbourhoodsPage();">
                    <i class="material-icons">neighbourhood</i>Neighbourhoods
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadVtws();">
                    <i class="material-icons">villa</i>VTW's
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadPublicSpacesPage();">
                    <i class="material-icons">road</i>Public spaces
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadBuildingsPage();">
                    <i class="material-icons">home_filled</i>Buildings
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadResidencesPage();">
                    <i class="material-icons">cottage</i>Residences
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadBlocksPage();">
                    <i class="material-icons">view_comfortable</i>Blocks
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadBuildingtypesPage();">
                    <i class="material-icons">home_work</i>Building types
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadAddressesPage();">
                    <i class="material-icons">home</i>Addresses
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadOwnersPage();">
                    <i class="material-icons">owner</i>Owners
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadHousingstocksPage();">
                    <i class="material-icons">domain</i>Housingstocks
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadContractorsPage();">
                    <i class="material-icons">contractor</i>Contractors
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadSubcontractorsPage();">
                    <i class="material-icons">subcontractor</i>Subcontractors
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="void(0);" class="subheader">
                    <i class="material-icons">group</i>Groups
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="loadUsersPage();">
                    <i class="material-icons">person</i>Users
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <a href="javascript:void(0);" onclick="loadCreditsPage();">
                    <i class="material-icons">workspace_premium</i>Credits
                </a>
            </li>
        </ul>
        <div class="slide-out-nav-menu-button">
            <a href="#" data-target="slide-out" class="top-nav sidenav-trigger hide-on-large-only">
                <i class="material-icons medium">menu</i>
            </a>
        </div>
        <div class="fixed-action-btn user-profile">
            <a class="btn-floating btn-large">
                <i class="material-icons prefix">account_circle</i>
            </a>
            <ul>
                <li><a class="btn-floating" href="{{ path('logout') }}"><i class="material-icons">logout</i></a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s8 offset-s2 m10 offset-m1 l9 offset-l3" id="activeHousingstockSelector">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l9 offset-l3" id="content">
                </div>
            </div>
        </div>
        <div class="overlay">
            <div class="overlay__inner">
                <div class="overlay__content">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
